<!-- Page Container -->
<div class="container mt-4 " >
    <h3 class="text-center mb-4">ที่อยู่จัดส่ง</h3>
    <form class="delivery-form">
        <div class="mb-5 row align-items-center justify-content-center">
          <label class="col-sm-2 col-form-label fs-4">ชื่อ - นามสกุล</label>
          <div class="col-sm-7">
            <input type="text" class="form-control">
          </div>
        </div>
      
        <div class="mb-5 row align-items-center justify-content-center">
          <label class="col-sm-2 col-form-label fs-5">เลขที่ / ซอย / หมู่บ้าน</label>
          <div class="col-sm-7">
            <input type="text" class="form-control">
          </div>
        </div>
      
        <div class="mb-5 row align-items-center justify-content-center">
          <label class="col-sm-2 col-form-label fs-5">ถนน</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" >
          </div>
        </div>
      
        <div class="mb-5 row align-items-center justify-content-center">
          <label class="col-sm-2 col-form-label fs-5">แขวง (ตำบล)</label>
          <div class="col-sm-7">
            <input type="text" class="form-control">
          </div>
        </div>
      
        <div class="mb-5 row align-items-center justify-content-center">
          <label class="col-sm-2 col-form-label fs-5">เขต (อำเภอ)</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" >
          </div>
        </div>
      
        <div class="mb-5 row align-items-center justify-content-center">
          <label class="col-sm-2 col-form-label fs-5">จังหวัด</label>
          <div class="col-sm-7">
            <input type="text" class="form-control">
          </div>
        </div>
      
        <div class="mb-5 row align-items-center justify-content-center">
          <label class="col-sm-2 col-form-label fs-5">เลขไปรษณีย์</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" >
          </div>
        </div>
      
        <!-- Submit Button Aligned Right -->
        <div class="d-flex justify-content-end ml-3 Button">
          <button type="submit" class="btn btn-danger">ชำระเงิน</button>
        </div>
      </form>
  
  </div>
  
