<div class="card p-3">
  <img [src]="item.img" alt="img" class="rounded-2" />
  <p class="detail m-0 mt-3">{{ item.detail }}</p>
  <hr />
  <div class="price-section d-flex justify-content-between">
    <p class="price m-0 align-content-center" style="color: #cc2b52">
      {{ item.price }}
    </p>
    @if(!isSelect){
    <button
      class="btn text-white"
      style="background-color: #cc2b52"
      (click)="selected()"
    >
      เลือก
    </button>
    }@else{
    <button
      class="btn"
      style="border: 1px solid #cc2b52;color: #cc2b52;"
      (click)="selected()"
    >
      ยกเลิก
    </button>
    }
  </div>
</div>
